<div class="subscribe">
    <h4 class="comments-title title">Subscribe</h4>
    <p>Subscribe to have posts like this one delivered to your inbox.</p>
    <form method="POST" action="/posthaven/subscription">
        <div class="posthaven-comment-email-field">
            <input name="email_address" placeholder="Email Address" type="text">
        </div>
        <input type="submit" value="Subscribe" class="posthaven-comment-submit">
    </form>
</div>