@import 'normalize.scss';

$white: #DDD;
$black: #000000;
$darkgrey: #2E2E33;
$title: #BDBDBD;
$body: #999;
$midgrey: #6d6c77;
$purple: #94a9db;

html,
body {
  font-family: 'Inter', sans-serif;
  color: $body;
  font-size: 16px;
  line-height: 1.875rem;
  font-weight: 400;
  background: $darkgrey;
}

body * {
  box-sizing: border-box;
}

p {
  margin: 0 0 1.25rem 0;
}

a {
  text-decoration: none;
  color: $body;
}

.container {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
}

.link-hover {
  transition: color 0.25s ease-in-out;

  &:hover {
    color: $white;
  }
}

.title {
  color: $title;
  font-weight: 600;
  margin: 0 0 1.25rem 0;
}

.post {
  margin: 2.5rem 0 4rem 0;

  &.is-current {
    margin: 2.5rem 0 2rem 0;
  }
}

.post-header {
  margin-bottom: 2.5rem;

  a {
    display: inline-block;
  }
}

.post-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 0.3125rem;
}

.post-date,
.view-count {
  color: $midgrey;
  margin: 0;
}

.post-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-link {
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 1.875rem;
}

.post-link .title {
  margin: 0;
  font-size: 1.5rem;
}

.home-link {
  margin: 0 0 1.25rem 0;
  display: inline-block;
}

.bio {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 3.75rem 0 0 0;
}

.bio-text {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-left: 0.9375rem;
  color: $midgrey;
}

.link-page,
.archive {
  margin-top: 2.5rem;

  .post-link {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.archive {
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
}

.archive-months {
  margin-bottom: 1.25rem;
}

.archive-results {
  ul {
    margin-top: 1.25rem;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.responses {
  margin-bottom: 1.25rem;
}

.response {
  font-size: 0.875rem;
  line-height: 1.75rem;
  margin-bottom: 1.25rem;

  .byline {
    color: $midgrey;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.comments-title,
.responses-title {
  margin-bottom: 0.625rem;
}

.posthaven-user-menu {
  text-align: right;
  font-size: 0.875rem;
  margin: 0.625rem 1.25rem 0 0;

  a {
    margin-left: 10px;
    color: $midgrey;
  }
}

.posthaven-post-body {
  blockquote {
    position: relative;
    margin: 10px 30px;

    &::before {
      content: " ";
      position: absolute;
      display: block;
      width: 3px;
      height: 100%;
      background: $body;
      border-radius: 10px;
      left: -15px;
    }
  }
  a {
    color: $purple;
  }
}

.posthaven-comment-form {
  width: 50%;

  label {
    font-size: 0.875rem;
  }
}

.posthaven-comment-body-field,
.posthaven-comment-email-field,
.posthaven-comment-name-field {
  margin-bottom: 0.625rem;
  label {
    width: 100%;
    display: inline-block;
  }
  textarea,
  input {
    font-size: 1rem;
    line-height: 1.25rem;
    width: 100%;
    border: 1px solid $midgrey;
    background: rgba(0,0,0,0);
    resize: none;
    padding: 0.625rem;
    color: $body;
    border-radius: 3px;
  }
  textarea {
    min-height: 100px;
  }
}

.posthaven-comment-add-url {
  display: none;
}

.posthaven-comment-submit {
  appearance: none;
  padding: 0.625rem 1rem;
  border-radius: 4px;
  background: $black;
  border: none;
  color: $title;
  margin-top: 0.625rem;
  transition: background 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background: darken($darkgrey, 7%);
  }
}

.posthaven-file-image {
  background: rgba(0,0,0,0);
  border: none;
  padding: 0;
  border-radius: 0;
}

.footer {
  margin: 2.5rem auto 1.25rem auto;
}

@media screen and (max-width: 480px) {
  .post-link {
    flex: 0 0 100%;
    max-width: 100%;

    p {
      margin-bottom: 0;
    }
  }
  .posthaven-comment-form {
    width: 100%;
  }
}