@import 'normalize.scss';

$white: #F1F1F1;
$darkgrey: #232325;
$offwhite: #C4C4C4;
$midgrey: #757575;

html,
body {
  font-family: 'Inter', sans-serif;
  color: $offwhite;
  font-size: 16px;
  line-height: 1.875rem;
  font-weight: 300;
  background: $darkgrey;
}

body * {
  box-sizing: border-box;
}

p {
  margin: 0 0 1.25rem 0;
}

a {
  text-decoration: none;
  color: $offwhite;
}

.container {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
}

.link-hover {
  transition: color 0.25s ease-in-out;

  &:hover {
    color: $white;
  }
}

.title {
  color: $white;
  font-weight: 600;
  margin: 0 0 1.25rem 0;
}

.post {
  margin: 2.5rem 0 4rem 0;
}

.post-header {
  margin-bottom: 2.5rem;
}

.post-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 0.3125rem;
}

.post-date,
.view-count {
  color: $midgrey;
  margin: 0;
}

.post-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-link {
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 1.875rem;
}

.post-link .title {
  margin: 0;
  font-size: 1.5rem;
}

.home-link {
  margin: 0 0 1.25rem 0;
  display: inline-block;
}

.link-page {
  margin-top: 3rem;

  .post-link {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.posthaven-user-menu {
  text-align: right;
  font-size: 0.875rem;
  margin: 0.625rem 1.25rem 0 0;

  a {
    margin-left: 10px;
    color: $midgrey;
  }
}

.posthaven-post-body {
  blockquote {
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      display: block;
      width: 3px;
      height: 100%;
      background: $offwhite;
      border-radius: 10px;
      left: -15px;
    }
  }
}

.footer {
  margin: 2.5rem auto 1.25rem auto;
}